/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Conteneur de connexion */
.login-container {
    background-color: #fff;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Bouton du logo */
.logo-button {
    background-color: #f4a826;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: default;
    margin-bottom: 30px;
}

/* Champs de saisie */
input[type="email"], input[type="password"], input[type="string"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
}

/* Bouton de connexion */
.login-button {
    background-color: #4285F4;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
}

/* Hover sur le bouton de connexion */
.login-button:hover {
    background-color: #357ae8;
}

/* Message d'erreur */
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

/* Lien de connexion */
.signin-link {
    margin-top: 15px;
    text-align: center;
}

.signin-link a {
    color: #4285F4;
    text-decoration: none;
    font-weight: bold;
}

/* Hover sur le lien de connexion */
.signin-link a:hover {
    text-decoration: underline;
}
