<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PayMyBuddy - Home</title>
    <link th:href="@{/css/home.css}" rel="stylesheet"/>
</head>



<body>

<header>
    <div class="logo">Pay My Buddy</div>
    <nav>
        <a th:href="@{/home}">Transférer</a>
        <a th:href="@{/profil}">Profil</a>
        <a th:href="@{/relations}">Ajouter une relation</a>
        <a th:href="@{/connexion}">Se déconnecter</a>
    </nav>
</header>

<main style="padding: 30px;">
    <div id="soldeContainer" style="margin-bottom: 20px; font-weight: bold; font-size: 1.2em;">
        Solde actuel : <span id="soldeValue">Chargement...</span> €
    </div>
    <div class="form-container">
        <div>
            <label for="relationSelect">Choisissez une relation :</label>
            <select id="relationSelect" required>
                <option value="" disabled selected>-- Sélectionnez un contact --</option>
            </select>
        </div>
        <div>
            <label for="descriptionInput">Description :</label>
            <input type="text" id="descriptionInput" placeholder="Entrez une description" required>
        </div>
        <div>
            <label for="amountInput">Montant :</label>
            <input type="number" id="amountInput" placeholder="Montant de la transaction" step="0.01" required>
        </div>
        <div>
            <button id="payButton">Payer</button>
        </div>

        <!-- Conteneur pour afficher les erreurs -->
        <div id="errorContainer" class="error-message"></div>

    </div>

    <h2>Dernières transactions</h2>
    <table>
        <thead>
        <tr>
            <th>Destinataire</th>
            <th>Description</th>
            <th>Montant (€)</th>
        </tr>
        </thead>
        <tbody id="transactionsTableBody">
        </tbody>
    </table>
</main>
<script th:src="@{/js/home.js}"></script>

</body>
</html>
